section.slider{
    margin:0 auto;
    width: 100%;
    height: auto;
    padding: 0 !;
    overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
  z-index: 1;
}

.slide-box img{
  width: 100%;
}

.nav-manual, nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 37.7%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid #6088ff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s; 
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 8px;
}

.nav-manual .manual-btn:hover{
  background-color: #0077cc;
}

#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: #0077cc;
}

#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: #0077cc;
}

#radio3:checked ~ .nav-auto .auto-btn3{
  background-color: #0077cc;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

@media scream and (max-widht: 900px){
      .img-desktop{
        display: none;
      }

      .img-mobile{
        display: none;
      }

      .nav-auto, .nav-manual{
        margin-top: 60%;
      }
}
