@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
a {
    color: #fff;
    padding: 2rem 2rem;
    font-size: 1.2rem;
    
}
header{
    background-color: rgb(25, 95, 151);
    box-shadow: 0px, 3px, 10px #000000;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h1{
   color: #ffffff;
}

nav-list{
    display: flex;
    align-items: center;
    
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2rem 2rem;
}

.nav-item{
    margin: 0 15px;
    
}

.center{
    text-align: center;
    padding-top: 5rem;
  }
footer{
    background-color: rgb(19, 71, 139);
    color: rgb(0, 0, 0);
    text-align: center;
    padding:  15px;
    margin-top: 130px;
  }

 footer .rodape{
     display: flex;
     width: 1140px;
     height: 200px;
     padding: 5rem 3.2rem;
     
 }



.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button{
    border: none;
    background-color: #B3842D;
    padding: 10px 25px;
    border-radius: 5px;

}

.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.mobile-menu-icon{
    display: none;
    color: rgb(141, 178, 207);
}

.mobile-menu{
    display: none;
    
}
.produto {
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  }
  
  .produto img {
    width: 100%;
    border-radius: 8px;
    color:rgb(59, 167, 255);
  }
  .produtos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .produto strong {
    font-size: 1.2rem;
    color: #0077cc;
  }

/* Classes do site alunos */
.banner {
  background-color: rgb(255, 255, 255);
  color: #333;
  text-align: center;
  padding: 40px 20px;
}

.veiculos {
  padding: 40px 20px;
  text-align: center;
}

.carros {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.carro {
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.carro img {
  width: 100%;
  border-radius: 8px;
  color:rgb(59, 167, 255);
}

.veiculos h2{
    font-size: 1.6rem;
    font-family: sans-serif;
    
}

.banner h2{
    font-size: 1.8rem;
    font-family: sans-serif;
}

.banner p{
    font-size: 1.0rem;
    font-family: sans-serif;
}

.logo h1{
    font-size: 2.1rem;
    font-family: sans-serif;
}

.banner {
    background-color: #F2F2F2;

}

body{
    background-color:rgb(25, 95, 151);
  
  }
/* Menu responsivo */
@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        padding: 2rem 2rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer

    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;

    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
        
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
    .logo h1{
        text-align: center;
    }
    .logotipo a{
        text-align: center;
    }
}
